@model Tuple<IEnumerable<VehiclesViewModel>, IEnumerable<SelectListItem>>
@inject Garage3._0.Services.ITypeSelectService service

@{
    ViewData["Title"] = "Vehicles Index";
}

<h1>Vehicles List</h1>

<form asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Search license plate..." />
        <div class="input-group-append">
            <select name="VehicleType" asp-items="@Model.Item2" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RegNoSortParm"]">License plate</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSortParm"]">Owner</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MembershipLevelSortParm"]">Membership</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleTypeSortParm"]">Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ParkedTimeSortParm"]">Parked Time</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.Name)
                </td>
                <td>
                    @item.ParkedTime.Days:@item.ParkedTime.Hours:@item.ParkedTime.Minutes
                </td>
                <td>
                    <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Vehicles" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


